
db_username = "adelantado"
db_password = "adelantado"
db_host = "localhost"
db_port = 25432
db_name = "adelantado"

queue_limit_priority = 10
queue_limit_unchecked = 80
queue_limit_checked = 10
queue_pause = 2


